.home {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin: 0 calc(-50vw + 50%);
  min-height: calc(100vh - 100px);
  background: url('../../images/bg.jpeg') no-repeat center/cover;

  .MuiPaper-root {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .primary-btn {
      margin-top: 16px;
      font-size: 24px;
    }
  }
}
